@font-face {
  font-family: anta;
  src: url(./resources/fonts/Anta-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 5vw 0.5vh 5vw;

  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "anta", Arial, Helvetica, sans-serif;
}

header {
  width: 100vw;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #d60201;
}

strong {
  color: green;
  font-weight: bold;
}

h2 {
  color: #d60201;
}
/*! div h1 y logo */
#divNameAndLogo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #d60201;
  background-color: white;
}

#divNameAndLogo img {
  width: 6rem;
}

/*! div imagenes section */
/* He investigado una forma de hacer efecto carrusel en css, con scroll-snap-type */

#imgSection {
  display: flex;
  width: 90vw;

  /*TODO el x mandatory fuerza a que se vea una de las 2 imagenes y no se quede en medio, acuérdate!!!!! */
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}

#imgSection img {
  scroll-snap-align: start;
  width: 87vw;
  flex: 0 0 auto;
  border-radius: 0.1rem;
}

/*! logo */

#logoImg {
  width: 10vw;
}

/*! SECTION con texto y fotos */
#descriptionAndImgSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#description2 li {
  margin-bottom: 1rem;
  list-style: none;
}

#description2 p a {
  text-decoration: none;
  color: #d60201;
}

/*! ASIDE */

aside#asideId img {
  width: 80vw;
  border-radius: 1rem;
  /* para no solapar ocn footer */
  margin-bottom: 5rem;
  margin-top: 1rem;
}

/*! FOOTER  */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  border-top: 1px solid grey;

  background-color: rgb(255, 255, 255, 0.9);
}

div.socialLinks {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

footer img {
  width: 50px;
}
/* ? MEDIA */

@media (min-width: 768px) {
  p,
  li {
    font-size: xx-large;
    text-align: justify;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  body {
    /* para que el footer no oculte el texto */
    margin-bottom: 5rem;
  }
  /*! div h1 y logo */
  #divNameAndLogo {
    justify-content: flex-end;
    gap: 2rem;
  }
  /*! div imagenes section */

  #imgSection {
    display: flex;
    justify-content: center;
    width: 90vw;
    gap: 4rem;
  }

  #imgSection img {
    width: 25vw;
    flex: 0 0 auto;
    border-radius: 2rem;
    border: 1px solid #d60201;
  }

  #imgSection img:hover {
    border: 3px solid #d60201;
  }
  /*! Contenedor del section y el aside */

  #asideSectionContainer {
    display: flex;
  }
  /*! ASIDE */

  aside#asideId img {
    width: 20vw;
    border-radius: 1rem;
    border: 1px solid #d60201;
    margin-left: 2rem;
    margin-top: 50rem;
  }

  aside#asideId img:hover {
    border: 3px solid #d60201;
  }
  /*! SECTION con texto y fotos */

  section {
    width: 75vw;
  }

  /* !footer */
  footer {
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100vw;
    justify-content: space-around;
    background-color: rgb(255, 255, 255, 0.95);
  }
  footer img:hover {
    width: 3rem;
    filter: drop-shadow(2px 2px 2px #d60201);
  }

  /* cambio margin de p para que no aparezca arriba en footer */
  footer p {
    margin: 1rem;
  }
}
